.references {
  display: flex;
  align-content: center;
}

.references .reference {
  flex: 1;
  border: 1px solid gray;
  padding: 10px;
  margin-right: 10px;
  text-align: center;
}

.references .reference img {
  max-width: 100%;
}
